$dark-color: #2A2B25;
$light-color: #F5F5F5;
$dark-minor-color: #51524D;
$light-minor-color: #C8C8C7;
$highlight-color: #DF5C4F;

$menu-width: 275px;

@mixin transition($property, $time, $method) {
  transition: $property $time $method;
  -moz-transition: $property $time $method;
  -webkit-transition: $property $time $method;
}

@mixin border-transition() {
  -webkit-transition-property:border-width, padding, border-color;
  -webkit-transition-duration: 0.25s, 0.25s, 0.25s;
  -webkit-transition-timing-function: linear, linear, linear;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

body {
  margin: 0px;
  padding: 0;
  background-color: $dark-color;
  font-family: 'Lato', Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0px;
}

.input {
  @include border-transition();

  width: 100%;
  height: 40px;
  padding: 3px 11px 3px 11px;
  border: solid 1px transparent;
}

.input:focus {
  padding: 2px 10px 2px 10px;
  outline: none;
  border: solid 2px transparent;
}

.focus-submit {

}

a.icon {
  display: block;
}

.reverse-icon {
  @include transition(background-color, 0.25s, linear);
}

a.reverse-icon {
  @extend a.icon;
}
a.reverse-icon:hover {
  background-color: $highlight-color !important;
}

.reverse-icon.customize {
  background-image: url('../design/style/image/icon-action-customize.png');
}

.reverse-icon.refresh {
  background-image: url('../design/style/image/icon-action-refresh.png');
}

.reverse-icon.logo {
  background-image: url('../design/style/image/sa-logo.png');
  background-color: $highlight-color !important;
}

.light-area {
  background-color: $light-color;
  color: $dark-color;

  a {
    color: $dark-color;
  }

  .input {
    border-color: $light-minor-color;
    color: $dark-color;
  }

  .input:focus {
    border-color: $highlight-color;
  }
}

.dark-area {
  color: $light-color;
  background-color: $dark-color;

  .reverse-icon {
    background-color: $dark-minor-color;
  }

  a {
    color: $light-color;
  }
}

.site-menu {
  @extend .light-area;

  position: fixed;
  width: $menu-width;
  height: 100%;
  padding: 0px 20px 0px 20px;
  overflow: hidden;

  .tab-container {
    @extend .cf;

	.menu-tab {
	  float: left;
	  display: block;
	  width: 50%;
	  height: 50px;
	  line-height: 50px;
	  text-align: center;
	  border-bottom: solid 1px $light-minor-color;
	}

	.menu-tab.active {
      border-bottom: solid 1px $highlight-color;
      color: $highlight-color;
	}
  }

  .tab-content {
    margin-top: 25px;
  }
}

.site-menu:hover {
  overflow: auto;
}

.site-container {
  @extend .dark-area;

  margin-left: $menu-width;
  padding: 20px;

  .menu-container {
    @extend .cf;
    $logo-size: 48px;

	padding-top: 5px;


    .logo-container {
      .logo {
        float: left;
        height: $logo-size;
        width: $logo-size;
        background-size: $logo-size;
      }

      .logo-text {
        float: left;
        margin-top: -5px;
        margin-left: 10px;
        text-transform: uppercase;

        h1 {
          font-size: 27px;
          color: $highlight-color;
        }

        h2 {
          font-size: 19px;
          color: $dark-minor-color;
        }
      }
    }

    .menu {
      float: right;
      margin: 24px 0px 0px 0px;

      li {
        float: left;
        list-style: none;
        margin-left: 0px;
        text-transform: uppercase;
      }

      a.reverse-icon {
        background-size: 26px;
        height: 26px;
        width: 26px;
      }

      input[type=text] {
        height: 24px;
      }
    }
  }

  .content-container {
    .wallpaper-stack {
      margin-top: 75px;

      h3 {
        text-transform: uppercase;
        color: $dark-minor-color;
        font-family: sans-serif;
        font-size: 15px;
      }
    }
  }
}