<div class="site-menu">
	<div class="tab-container">
		<a href="#" class="menu-tab active">Categorys</a>
		<a href="#" class="menu-tab">Account</a>
	</div>
</div>
<div class="site-container">
	<div class="menu-container">
		<div class="logo"></div>
		<div class="logo-text">
			<h1>Screen Artifact</h1>
			<h2>Beautiful desktop wallpapers</h2>
		</div>
		<ul class="menu">
			<li>
				{{input placeholder="Search"}}
			</li>
		</ul>
	</div>

	<div class="content-container">
		<div class="wallpaper-stack">
			<h3>Top Wallpaper</h3>
			<ul>

			</ul>
		</div>
	</div>
</div>